<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zly.common.mapper.FgUgRoleMapper">

    <select id="getUgRoleByFg" resultType="com.zly.common.vo.FgUgRoleVo">
        select
            a.*,b.file_group_name as fgIdName,c.group_name as ugIdName
        from fg_ug_role a
        left join file_group b on a.fg_id = b.id
        left join user_group c on a.ug_id = c.id
        where 1=1
        <if test="dto.fgId != null and dto.fgId != ''">
            and a.fg_id = #{dto.fgId}
        </if>
    </select>
</mapper>
