<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zly.common.mapper.FileUserRoleMapper">

    <select id="getUserRoleByFile" resultType="com.zly.common.vo.FileUserRoleVo">
        select
            a.*,b.file_name as fileIdName,c.user_name as userIdName
        from file_user_role a
        left join file b on a.file_id = b.id
        left join user c on a.user_id = c.id
        where 1=1
        <if test="dto.fileId != null and dto.fileId !=''">
            and a.file_id = #{dto.fileId}
        </if>
    </select>
</mapper>
